.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 11px;
  padding: 8px 32px;
  border: none;
  border-radius: 6px;
  background-color: #4587ed;
  color: #ffffff;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;

  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }

  &:disabled {
    cursor: default;
    opacity: 0.5;
  }
}
