.item {
  max-width: 1576px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr;
  align-items: center;
  grid-column-gap: 100px;
  padding: 8px 32px;
  background-color: #ffffff;
  border-radius: 6px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
}

.button {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: none;
  background-color: #f6f7f9;
  padding: 8px;
  border-radius: 6px;

  &:hover {
    cursor: pointer;
    background-color: #efeff0;
  }
}
