.container {
  display: flex;
  height: calc(100vh - 56px);
}

.header {
  width: 100%;
  height: 56px;
  background-color: #353D4B;
}

.menu {
  max-width: 280px;
  width: 100%;
  background-color: #ffffff;
}

.main {
  width: 100%;
  background-color: #e5e5e5;
  padding: 36px 32px;

  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    margin: 0;
  }
}

.content {
  margin-top: 32px;

  &__header {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1;
    grid-column-gap: 100px;
    padding: 10px 32px;
    background-color: #ffffff;
    border-radius: 6px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 4px;
  }

  &__main {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
}
